.app {    
    .top {
      height:40px;
      text-align:center;
      line-height:2.5;
      font-weight:bold;
      display: block;
      align-items: center;
      justify-content: center;
      width:100%;
      background-color:green;
      color: white;
    }
  
    .bottom, a, a:visited, a:hover {
      height:40px;
      text-align:center;
      line-height:2.5;
      font-weight:bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .commandBar {
      width: 100%;
    }

    a {
      text-decoration: none;
      color: white;
      padding-left: 10px;
      padding-right: 10px;
    }
  }